<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <link rel="stylesheet" href="../static/css/home.css"/>
</head>
<body>
    <header>
        <div class="site-name">
            <a href="/data">Prajwal</a>
        </div>
        <div class="nav">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/docs">Docs</a>
            </li>
            <li>
                <a href="/user">Login</a>
            </li>
        </div>
    </header>

    <section>
        <div class="animation">

        </div>
        <div class="description">
            <p>
                It is a web application which helps in optimizing the installation of solar panels.
            </p>
        </div>
        <div class="btn-wrapper">
            <div class="btn home-btn">
                Enter Data Manually
            </div>
            <div class="btn home-btn">
                Scan Panel Details
            </div>
        </div>
    </section>

    <div class="responsive-nav">
        <div class="nav-icon">
            <div class="icon" id="show">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="icon" id="hide">
                <div class="cross"></div>
                <div class="cross"></div>
            </div>
        </div>
        <div class="nav-bar">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Docs</a>
            <a href="">Login</a>
        </div>
    </div>

    <script src="../static/js/common.js"></script>
</body>
</html>