<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prajwal</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>

    <section class="welcome-page">
        <div class="app-name">
            <img src="../static/img/prajwal.png" />
        </div>
        <div class="home-image">
            <img src="../static/img/icon.png"  >
         </div>
         <div class="btn-wrapper">
            <div class="start-btn">
                <a href="/data">
                    Get Started
                </a>
            </div>
         </div>
         <div class="vector">
            <img src="../static/img/vector.svg"/>
        </div>
    </section>

</body>
</html>