*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-align: center;
    color: black;
    font-family: sans-serif;
}

body{
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    text-indent: 0;
}

.btn{
    width: fit-content;
    padding: .6rem;
    border: outset #f9f06f 2px;
    background-color: #f9f06f;
}